body{
    background: #232323;
}

.selected{
    background-color: blue;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
}

#stripe span{
    color: black;
}

#stripe{
    background: white;
    height: 30px; 
    text-align: center;
    color: black;
}